@import url('https://fonts.googleapis.com/css2?family=Raleway:ital@0;1&display=swap');
*{
    margin: 0;
    padding: 0
}
body{
    background-color:whitesmoke;
    margin: 2em;
    
    h1, h2, h3, h4, h5{
        text-align: center;
        padding: 0.5em;
        }
        p{
            color: black;
            font-size: 18px;
            padding: 2px;
            margin: 2px;
            text-align: justify;
            &:hover{
                transition: 1s;
                color: rgb(109, 0, 0);
                font-size: 22px;
            }
        }


    }
.figuras{
    display: flex;
    align-items: center;
    flex-direction: row;
    
    
}

