.grilla1{
    main{
        grid-area: main;
        padding: 0.5em;
        
    }
    .estadio{
        padding: 0.5em;
        margin: 0.5em;
        grid-area: estadio;
    }
    .hinchada{
        padding: 0.5em;
        margin: 0.5em;
        grid-area: hinchada;
    }
    .menu2{
        grid-area: menu2;
        padding: 0.5em;
    }
    .contenido{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: first baseline;
        grid-area: contenido;
        padding: 0.5em;
    }
    
    display: grid;
    grid-template-areas: 
    "header"
    "main"
    "estadio"
    "hinchada"
    "menu2"
    "contenido"
    "footer";
    padding: 1em;
    border:#e47c05 solid ;
    
    
}
@media (min-width: 600px){
    .grilla1{
        grid-template-areas: 
        "header main "
        "menu2 menu2"
        "estadio hinchada"
        "contenido contenido  "
        "footer footer ";
    }
    

}
@media (min-width: 900px){
    .grilla1{
        grid-template-areas: 
        "header header main"
        "menu2  contenido contenido"
        "estadio contenido contenido "
        "hinchada contenido contenido"
        "footer footer footer";
        grid-template-columns: auto auto 500px;
        grid-template-rows: 100px 200px 200px auto;
    
}

}