header{
    grid-area: header;
    padding: 0.5em;
    .navbar .container-fluid{
        display: flex;
        justify-content: space-between;
        align-items: stretch;
        background: rgb(219,0,0);
        background: linear-gradient(90deg, rgba(219,0,0,1) 11%, rgba(0,16,135,1) 100%);
        padding: 0.5em;
        a{
            color: white;
        }
        
        
            }
    }
.nav{
    background: rgb(219,0,0);
    background: linear-gradient(90deg, rgba(219,0,0,1) 11%, rgba(0,16,135,1) 100%);
    .nav-link{
    color: rgb(255, 255, 255);
    list-style-type:circle;
    list-style-position: inside;
        }
    }