.grillaStory{
    .pcp{
        grid-area:pcp;

    }
    .msn{
        grid-area:msn;
    }
    .accordion{
        grid-area:acordeon;
        
        }
    
    display: grid;
    grid-template-areas:
    "header"
    "pcp"
    "main"
    "msn"
    "acordeon"
    "footer";
    
}
@media (min-width: 600px){
    .grillaStory{
        grid-template-areas:
        "header main"
        "pcp msn"
        "acordeon acordeon"
        "footer footer";
    
    }
}
@media (min-width: 900px){
    .grillaStory{
        grid-template-areas:
        "header header header"
        "pcp main msn"
        "acordeon acordeon acordeon"
        "footer footer footer ";
    
    }
}
.gridAc1{
    .textAcordeon1{
        grid-area:texto1;
    }
    .textAcordeon2{
        grid-area:texto2;
    }
    .imgAcordeon1{
        grid-area:img1;
        img{
            width: 115px;
        }
    }
    .imgAcordeon2{
        grid-area:img2;
        img{
            width: 115px;
        }
    }
    display: grid;
    grid-template-areas: 
    "img1"
    "texto1"
    "img2"
    "texto2";

}
@media (min-width:600px){
    .gridAc1{
        grid-template-areas: 
        "img1 texto1"
        "img2 texto2"
        ;
}
}
@media (min-width: 900px){
    .gridAc1{
        grid-template-areas: 
        "img1 img2"
        "texto1 texto2"
        ;
}
}
.gridAc2{
    .textAcordeon3{
        grid-area:texto3;
    }
    .tituloAcordeon1{
        grid-area:titulo1;
    }
    .imgAcordeon3{
        grid-area:img3;
        img{
            width: 115px;
        }
    }
    .imgAcordeon4{
        grid-area:img4;
        img{
            width: 115px;
        }
    }
    .tituloAcordeon2{
        grid-area: titulo2;
    }
    display: grid;
    grid-template-areas: 
    "titulo1"
    "img3"
    "texto3"
    "titulo2"
    "img4";

}
@media (min-width:600px){
    .gridAc2{
        grid-template-areas: 
        "titulo1 img3"
        "texto3 texto3"
        "titulo2 img4"
        ;
}
}
@media (min-width: 900px){
    .gridAc2{
        grid-template-areas: 
        "texto3 texto3"
        "titulo1 titulo2"
        "img3 img4"
        ;
}
}